{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3>Start Farming in a Smarter Way!</h3>

<div class="card">
    <h2>About E-Commerce in Agriculture</h2>
    <p>Agri e-commerce has emerged as an alternative model to formalise informal value chains by enabling
        the buying and selling of produce online. Allowing farmers to bypass intermediaries and sell
        directly to various customer groups that would have otherwise been out of reach including;
        agribusinesses, retailers, the hospitality industry and individual consumers.
    </p>
    <p><strong>मराठी: कृषी मध्ये ई-कॉमर्स बद्दल</strong></p>
    <p>ऑनलाईन उत्पादन खरेदी आणि विक्री सक्षम करून अनौपचारिक मूल्य साखळी औपचारिक करण्यासाठी
        अॅग्री ई-कॉमर्स एक पर्यायी मॉडेल म्हणून उदयास आले आहे. शेतकऱ्यांना मध्यस्थांना बायपास करण्याची आणि थेट विविध ग्राहक
        गटांना विकण्याची परवानगी देणे जे अन्यथा आवाक्याबाहेर गेले असते; कृषी व्यवसाय, किरकोळ विक्रेते, आतिथ्य उद्योग आणि वैयक्तिक ग्राहक.</p>
</div>
<br>
<div class="card">
    <h2>Strategies to fight Drought</h2>
    <p>In the Rayalaseema region in Andhra Pradesh, India, frequent spells of drought and erratic rainfall
        have often hampered crop productivity and caused land degradation.
        Farmers of this region struggle with inconsistent income levels, fluctuating produce prices, and
        unavailable or costly labor. The Power Grid Corporation of India, as part of its corporate
        social responsibility, supported ICRISAT in an initiative to improve productivity and livelihoods
        of farmers in the watershed at Bethamcherla mandal in Kurnool district of Andhra Pradesh and
        develop it as an exemplar site for replication.
        The diagnosis of widespread micronutrient deficiencies in farmers’ fields
        helped to promote need-based inputs with benefits of 10-50%, and similarly, productivity improvement
        with improved crop varieties. With the strengthened water and soil resources, farmers were able
        to improve livelihoods through other activities such as fodder cultivation, livestock-related
        activities and kitchen gardens for household nutrition and income-generation activities.
    </p>
    <p><strong>मराठी: दुष्काळाशी लढण्याची रणनीती</strong></p>
    <p>भारताच्या आंध्र प्रदेशातील रायलसीमा प्रदेशात वारंवार दुष्काळ आणि अनियमित पाऊस पडतो
        पिकांच्या उत्पादकतेला अनेकदा अडथळा आणला आहे आणि जमीन खराब झाली आहे.
        या भागातील शेतकरी विसंगत उत्पन्नाची पातळी, उतार -चढाव उत्पादनाच्या किमतींसह संघर्ष करतात
        अनुपलब्ध किंवा महागडे श्रम. पॉवर ग्रिड कॉर्पोरेशन ऑफ इंडिया, त्याच्या कॉर्पोरेटचा एक भाग म्हणून
        सामाजिक जबाबदारी, उत्पादकता आणि उपजीविका सुधारण्याच्या उपक्रमात ICRISAT चे समर्थन केले
        आंध्र प्रदेशातील कुर्नूल जिल्ह्यातील बेथमचेरला मंडल येथील पाणलोट क्षेत्रातील शेतकऱ्यांचे आणि
        प्रतिकृतीसाठी एक आदर्श साइट म्हणून विकसित करा.
        शेतकऱ्यांच्या शेतात मोठ्या प्रमाणात सूक्ष्म पोषक तत्वांचे निदान
        10-50%च्या फायद्यांसह गरज-आधारित निविष्ठांना प्रोत्साहन देण्यासाठी आणि त्याचप्रमाणे उत्पादकता सुधारण्यास मदत केली
        सुधारित पीक वाणांसह. बळकट पाणी आणि माती संसाधनांमुळे शेतकरी सक्षम होते
        चारा लागवड, पशुधनाशी संबंधित इतर उपक्रमांद्वारे उपजीविका सुधारणे
        घरगुती पोषण आणि उत्पन्न-निर्माण उपक्रमांसाठी उपक्रम आणि किचन गार्डन.</p>
</div>
<br>
<div class="card">
    <h2>Applying Modern Technology to Agriculture</h2>
    <p>Farmers today can use the benefits of the technological revolution to increase their yields from farming and livestock rearing.
        1. Monitoring and controlling crop irrigation systems via smartphone
        Mobile technology is playing an important role in monitoring and controlling crop irrigation systems.
        With this modern technology, a farmer can control his irrigation systems from a phone or computer instead of driving to each field.
        Moisture sensors in the ground are able to communicate information about the level of moisture present at certain depths in the soil.
        2. Ultrasounds for livestock
        Ultrasound is not only for checking on baby animals in the womb. It also can be used to discover what quality of meat might be found in an animal before it goes to the market.
        The testing of DNA helps producers to identify animals with good pedigrees and other desirable qualities. This information can also be used to help the farmer to improve the quality of his herds.
        3. Crop Sensors
        Crop sensors help apply fertilisers in a very effective manner, maximising uptake. They sense how your crop is feeling and reduce the potential leaching and runoff into ground water.
        Instead of making a prescription fertiliser map for a field before you go out to apply it, crop sensors tell application equipment how much to apply in real time.
    </p>
    <p><strong>मराठी: शेतीला आधुनिक तंत्रज्ञान लागू करणे</strong></p>
    <p>शेतकरी आज तांत्रिक क्रांतीचे फायदे शेती आणि पशुपालन पासून त्यांचे उत्पादन वाढवण्यासाठी वापरू शकतात.
        1. स्मार्टफोनद्वारे पीक सिंचन प्रणालींचे निरीक्षण आणि नियंत्रण
        पीक सिंचन प्रणालींचे निरीक्षण आणि नियंत्रण करण्यासाठी मोबाइल तंत्रज्ञान महत्वाची भूमिका बजावत आहे.
        या आधुनिक तंत्रज्ञानामुळे, शेतकरी प्रत्येक शेतात जाण्याऐवजी फोन किंवा संगणकावरून आपल्या सिंचन प्रणाली नियंत्रित करू शकतो.
        जमिनीतील आर्द्रता संवेदक जमिनीतील विशिष्ट खोलीवर असलेल्या ओलावाच्या पातळीविषयी माहिती देण्यास सक्षम आहेत.
        2. पशुधनासाठी अल्ट्रासाऊंड
        अल्ट्रासाऊंड केवळ गर्भातील बाळ प्राण्यांची तपासणी करण्यासाठी नाही. बाजारात जाण्यापूर्वी जनावरांमध्ये कोणत्या दर्जाचे मांस आढळू शकते हे शोधण्यासाठी याचा वापर केला जाऊ शकतो.
        डीएनएची चाचणी उत्पादकांना चांगल्या वंशावळी आणि इतर इष्ट गुणांसह प्राणी ओळखण्यास मदत करते. ही माहिती शेतकऱ्याला त्याच्या कळपाची गुणवत्ता सुधारण्यासाठी मदत करण्यासाठी देखील वापरली जाऊ शकते.
        3. क्रॉप सेन्सर्स
        क्रॉप सेन्सर्स खतांचा वापर अत्यंत प्रभावी पद्धतीने, जास्तीत जास्त वापरण्यास मदत करतात. ते आपल्या पिकाला कसे वाटते हे जाणवते आणि जमिनीतील पाण्यात संभाव्य लीचिंग आणि वाहून जाणे कमी करते.
        आपण ते लागू करण्यासाठी बाहेर जाण्यापूर्वी शेतासाठी प्रिस्क्रिप्शन खतांचा नकाशा बनवण्याऐवजी, क्रॉप सेन्सर अनुप्रयोग उपकरणास सांगतात की रिअल टाइममध्ये किती अर्ज करावा.</p>
</div>
<br>

{% endblock content %}